<div id="all">
    <div>
      <p>שים לב!<br> אם תבחר לסיים ביקורת, עליך לציין עבור הביקורת עבר / נכשל ולאחר השמירה לא ניתן יהיה לשנות שאלות או לעדכן תשובות</p>
        <div>
            <input type="radio" checked
                name="status" value="1176">
            עבר
            <br>
            <input type="radio"
                name="status" value="1177">
            נכשל
            <br>
        </div>
    <br>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()">ביטול</button>
      <button mat-raised-button (click)="onOkClick()">אישור</button>
    </div>
</div>