body,html{
    width: 100%;
    height: 100%;
}
#all
{
    width: 100%;
    height: 100%;
    border:rgb(11, 49, 10) 4px dotted;
    padding: 3px;
}
p{
    text-align: center;
    font-size: 20px;
    font-family: Gisha;
}
button{
    background-color:#f0712f;
    border: 1px black solid;
    margin-left: 4px;
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 20px;
}